.body {
    background-image: url(images/monument_valley3.png);
    background-repeat: inherit;
    background-size: cover;
    height: 100%;
}

.black_cover ::before {
content: "";
display: block;
position: absolute;
background-color: #000;
opacity: 0.5;
width: 100%;
height: 100%;
}
.header {
    font-family: Georgia, serif;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    text-align: center;
    margin-top: 1vh;
}
.header2 {
    font-family: Georgia, serif;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    text-align: center;
    margin-top: 1vh;
}
.guzik {
    font-family: Georgia, serif;
    font-size: x-large;
    color: #ffffff;
    opacity: 0.8;
    border-color: black;
    border-style: solid;
    margin: 1vh;
}
.guzik2 {
    font-family: Georgia, serif;
    font-size: x-large;
    color: #000000;
    opacity: 0.8;
    border-color: black;
    border-style: solid;
    margin: 1vh;
}
.guzik3 {
    font-family: Georgia, serif;
    font-size: medium;
    color: #000000;
    opacity: 0.8;
    border-color: black;
    border-style: solid;
    margin: 1vh;
}
.guzik4 {
    font-family: Georgia, serif;
    font-size: medium;
    color: #ffffff;
    opacity: 0.8;
    border-color: rgb(24, 22, 22);
    border-style: solid;
    margin-top: 1vh;
}
.menu_link {
    text-decoration: none;
    color: #ffffff;
    font-family: Georgia, serif;
    font-size: x-large;
    text-shadow: 2px 2px 1px #000000;
}
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    text-shadow: 2px 2px 8px #000000;
}
p {
    color: #000000;
    font-size: medium;
    font-weight: bold;

}
.fieldset {
    flex-direction: column;
    align-content: center;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}
label {
    font-size: large;
}
select {
    font-weight: bold;
}
.submit {
    font-weight: bold;
}