.body {
    background-image: url(images/monument_valley.png);
    background-repeat: inherit;
    background-size: cover;
    height: 100%;
}
.header {
    font-family: Georgia, serif;
    color: #ffffff;
    text-shadow: 2px 2px 1px #000000;
    text-align: center;
    margin-top: 1vh;
}
.guzik {
    font-family: Georgia, serif;
    font-size: x-large;
    color: #ffffff;
    opacity: 0.8;
    border-color: black;
    border-style: solid;
    margin: 1vh;
}
.menu_link {
    text-decoration: none;
    color: #000000;
    font-family: Georgia, serif;
    font-size: large;
}
h1, h2, h3, h4 {
    color: #ffffff;
    text-shadow: 2px 2px 1px #000000;
}
p {
    color: #000000;
    font-size: medium;
    font-weight: bold;

}
.fieldset {
    flex-direction: column;
    align-content: center;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}
label {
    font-size: large;
}
select {
    font-weight: bold;
}
.submit {
    font-weight: bold;
}