{% extends "base.html" %}
{% load static %}

{% block title %} Dodaj Western {% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-primary btn-lg guzik" href="{% url 'index' %}">STRONA GŁÓWNA</a>
    </div>
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'movies' %}">WESTERNY</a>
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'people' %}">LUDZIE</a>
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'genres' %}" class="btn btn-primary">GATUNKI</a>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header">Dodaj Western</h2>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h5 class="display-5 align-self-center header">
            Przed dodaniem filmu upewnij się, że reżyser, scenarzysta i autor muzyki są wprowadzeni do bazy "LUDZIE", a gatunek do bazy "GATUNKI".
        </h5>
    </div>
    <hr>
    <form class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;" action="{% url 'add-movie' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" id="submit">Dodaj Western</button>
    </form>

    <hr>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <span>powered by:</span>
        <a class="btn btn-link align-self-center" href="https://www.facebook.com/Westerny" target="_blank" style="color: white;">Westerny</a>
    </div>
</div>

{% endblock %}