{% extends "base.html" %}
{% load static %}

{% block title %} Dodaj Gatunek {% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h1 class="display-5 align-self-center header">Dodaj Gatunek</h2>
    </div>
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-secondary btn-lg guzik" href="{% url 'index' %}">STRONA GŁÓWNA</a>
        <a class="btn btn-secondary btn-lg guzik" href="{% url 'movies' %}">WESTERNY</a>
        <a class="btn btn-secondary btn-lg guzik" href="{% url 'people' %}">LUDZIE</a>
        <a class="btn btn-secondary btn-lg guzik" href="{% url 'genres' %}" class="btn btn-primary">GATUNKI</a>
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h4 class="display-5 align-self-center header">
            Obraz można uzupełnić później.
        </h4>
    </div>
    <hr>
    <form class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;" action="{% url 'add-genre' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" id="submit">Dodaj Gatunek</button>
    </form>
    
    <hr>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <span>powered by:</span>
        <a class="btn btn-link align-self-center" href="https://www.facebook.com/Westerny" target="_blank" style="color: white;">Westerny</a>
    </div>
</div>

{% endblock %}