{% extends "base.html" %}
{% load static %}

{% block title %} Dodaj Western {% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-primary btn-lg guzik" href="{% url 'index' %}">STRONA GŁÓWNA</a>
    </div>
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'movies' %}">WESTERNY</a>
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'people' %}">LUDZIE</a>
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'genres' %}" class="btn btn-primary">GATUNKI</a>
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header2"><i>Dodaj Western</i></h2>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h5 class="display-5 align-self-center header" style="text-align: justify; margin-left: 3vh; margin-right: 3vh;">
            Przed dodaniem filmu upewnij się, że przypisywane osoby są w bazie "LUDZIE", a gatunek w bazie "GATUNKI". Tytuł, rok, reżyser, gatunek i opis są obowiązkowe.<br>
            Możliwość wyboru kilku osób i gatunków dostępna z wciśniętym klawiszem CTRL.
        </h5>
    </div>

    {% if error_message %}
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header">
            {{ error_message }}
        </h3>
    </div>
    {% endif %}

    <hr>
    <form class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;" action="{% url 'add-movie' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" id="submit">Dodaj Western</button>
    </form>



</div>

{% endblock %}