{% extends "base.html" %}
{% load static %}

{% block title %} Szczegóły Gatunku {% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-primary btn-lg guzik" href="{% url 'index' %}">STRONA GŁÓWNA</a>
    </div>
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'movies' %}">WESTERNY</a>
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'people' %}">LUDZIE</a>
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'genres' %}" class="btn btn-primary">GATUNKI</a>
        {% if user.is_staff %}
        <a class="btn btn-success btn-lg guzik" href="{% url 'edit-genre' genre.id %}"> Edytuj Gatunek</a>
        {% endif %}
        {% if user.is_superuser %}
        <a class="btn btn-danger btn-lg guzik" href="{% url 'delete-genre' genre.id %}"> Usuń Gatunek</a>
        {% endif %}
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header"><i>Szczegóły gatunku {{ genre.name }}</i></h2>
    </div>
    
    {% if genre.genre_image %}
    <div class="m-2">
      <img src="{{ genre.genre_image.url }}" alt="obraz {{ i.name }}"
        width="380" class="img-thumbnail border border-secondary rounded-0">
    </div>
    {% else %}
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h4 class="display-5 align-self-center header">
            Brak zdjęcia.
        </h4>
    </div>
    <hr>
    {% endif %}

    {% if genre.genre_description %}
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header">
            Opis gatunku
        </h3>
    </div>
    <div>
        <h5 style="text-align: justify; margin-left: 3vh; margin-right: 3vh;" class="display-5 align-self-center header">
            {{ genre.genre_description }}
        </h5>
    </div>
    {% else %}
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h4 class="display-5 align-self-center header">
            Brak opisu.
        </h4>
    </div>
    {% endif %}



    <hr>
    <div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">
        <span>Dodane przez: {{ genre.genre_added_by }}</span>
        {% if genre.genre_accepted_by %}<span>Zaakceptowane przez: {{ genre.genre_accepted_by }}</span>{% endif %}
        {% if genre.genre_edited_by %}<span>Ostatnia edycja: {{ genre.genre_edited_by }}</span>{% endif %}
    </div>

</div>

{% endblock %}