{% extends "base.html" %}
{% load static %}

{% block title %}Baza Westernów{% endblock %}

{% block content %}

    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'movies' %}">WESTERNY</a>
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'people' %}">LUDZIE</a>
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'genres' %}">GATUNKI</a>
        {% if user.is_superuser and promotion_asks > 0 %}
        <a class="btn btn-info btn-lg guzik2" href="{% url 'promotion-asks' %}">Wnioski o awans</a>
        {% endif %}
    </div>
    <hr>
    <div>
        <img src="{% static 'images/james-stewart.jpg' %}" style="border-color: black; border-style: solid; width: 95%; margin: 2.5%;">
    </div>


{% endblock %}