{% extends "base.html" %}
{% load static %}

{% block title %} Szczegóły Westernu {% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-primary btn-lg guzik" href="{% url 'index' %}">STRONA GŁÓWNA</a>
    </div>
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'movies' %}">WESTERNY</a>
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'genres' %}">GATUNKI</a>
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'people' %}">LUDZIE</a>

        {% if user.is_staff or movie.movie_added_by == user and not movie.movie_edited_by.is_staff %}
        <a class="btn btn-success btn-lg guzik" href="{% url 'edit-movie' movie.id %}"> Edytuj Western</a>
        {% endif %}
        {% if user.is_superuser %}
        <a class="btn btn-danger btn-lg guzik" href="{% url 'delete-movie' movie.id %}"> Usuń Western</a>
        {% endif %}
        {% if user.is_staff and not movie.movie_accepted_by %}
        <a class="btn btn-info btn-lg guzik" href="{% url 'accept-movie' movie.id %}"> Akceptuj</a>
        {% endif %}
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header2" style="margin-left: 3vh; margin-right: 3vh;">{{ movie.title }}</h2>
    </div>
    {% if movie.org_title %}
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header2" style="margin-left: 3vh; margin-right: 3vh;">({{ movie.org_title }})</h3>
    </div>
    {% endif %}

    <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
        {% for genre in movie.genre.all|dictsort:"name" %}
        <a  class="btn btn-link align-self-center" href="{% url 'genre-details' genre.id %}" style="font-family: Georgia, serif; font-size: x-large; color: white; text-shadow: 2px 2px 1px black">{{ genre }} </a>
        {% endfor %}
    </div>

    {% if rating is not None %}
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header2" style="margin-left: 3vh; margin-right: 3vh;"><i>Ocena:</i> {{ rating }}/10</h3>
    </div>
    {% else %}
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header2" style="margin-left: 3vh; margin-right: 3vh;"><i>Brak ocen</i></h3>
    </div>
    {% endif %}
    {% if user.is_authenticated and user_rating is None %}
    <form class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;" action="{% url 'movie-details' movie.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" id="submit">Dodaj Ocenę</button>
    </form>
    {% endif %}
    
    {% if movie.movie_image %}
    <div class="m-2">
      <img src="{{ movie.movie_image.url }}" alt="obraz {{ movie.title }}"
        width="380" class="img-thumbnail border border-secondary rounded-0">
    </div>
    {% else %}
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h4 class="display-5 align-self-center header">
            Brak zdjęcia.
        </h4>
    </div>
    <hr>
    {% endif %}

    <div class="d-flex flex-row justify-content-center align-items-center">
        <h4 class="display-5 align-self-center header">
            <i>Rok premiery:</i> {{ movie.year }}
        </h4>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
        <h4 class="display-5 align-self-center header">
            <i>Reżyseria:</i>
        </h4>
        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
        {% for director in movie.director.all %}
        <a  class="btn btn-link align-self-center" href="{% url 'person-details' director.id %}" style="font-family: Georgia, serif; font-size: x-large; color: white; text-shadow: 2px 2px 1px black">{{ director }}</a>
        {% endfor %}
        </div>
    </div>

    {% if movie.screenplay.all.count > 0 %}
    <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
        <h4 class="display-5 align-self-center header">
            <i>Scenariusz:</i>
        </h4>
        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
        {% for screenplay in movie.screenplay.all %}
        <a  class="btn btn-link align-self-center" href="{% url 'person-details' screenplay.id %}" style="font-family: Georgia, serif; font-size: x-large; color: white; text-shadow: 2px 2px 1px black">{{ screenplay }}</a>
        {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if movie.music.all.count > 0 %}
    <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
        <h4 class="display-5 align-self-center header">
            <i>Muzyka:</i>
        </h4>
        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
        {% for music in movie.music.all %}
        <a  class="btn btn-link align-self-center" href="{% url 'person-details' music.id %}" style="font-family: Georgia, serif; font-size: x-large; color: white; text-shadow: 2px 2px 1px black">{{ music }}</a>
        {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if movie.cinema.all.count > 0 %}
    <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
        <h4 class="display-5 align-self-center header">
            <i>Zdjęcia:</i>
        </h4>
        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
        {% for cin in movie.cinema.all %}
        <a  class="btn btn-link align-self-center" href="{% url 'person-details' cin.id %}" style="font-family: Georgia, serif; font-size: x-large; color: white; text-shadow: 2px 2px 1px black">{{ cin }}</a>
        {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if movie.movie_description %}
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header">
            <i>Opis Westernu</i>
        </h3>
    </div>
    <div>
        <h5 style="text-align: justify; margin-left: 3vh; margin-right: 3vh;" class="display-5 align-self-center header">
            {{ movie.movie_description }}
        </h5>
    </div>
    <hr>
    {% else %}
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h4 class="display-5 align-self-center header">
            Brak opisu.
        </h4>
    </div>
    {% endif %}

    {% if movie.starring.all.count > 0 %}
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header" style="margin-left: 3vh; margin-right: 3vh;">
            <i>Obsada</i>
        </h3>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center flex-wrap">
        {% for personmovie in movie.personmovie_set.all|dictsortreversed:"persons.person_rating" %}
        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap" style="margin-left: 3vh; margin-right: 3vh;">
            <a class="btn btn-link align-self-center" href="{% url 'person-details' personmovie.persons.id %}" style="font-family: Georgia, serif; font-size: x-large; color: white; text-shadow: 2px 2px 1px black">{{ personmovie.persons }}:</a>
            <h5 class="display-5 align-self-center header"><i>{{ personmovie.role }}</i></h5>
            {% if user.is_superuser or personmovie_added_by == user %}
            <span style="visibility: hidden;">.</span>
            <a class="btn btn-danger btn-sm guzik4" href="{% url 'delete-actor-movie' movie.id personmovie.persons.id %}">Usuń</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if user.is_staff or movie.movie_added_by == user and movie.movie_accepted_by and not movie.movie_edited_by.is_staff %}
    <div class="d-flex flex-row justify-content-center flex-wrap">
        <a class="btn btn-success btn-sm guzik4" href="{% url 'add-actor-movie' movie.id %}">Dodaj aktora</a>
    </div>
    {% endif %}

    {% if articles_check > 0 %}
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header" style="margin-left: 3vh; margin-right: 3vh;">
            <i>Artykuły o {{ movie.title }}</i>
        </h3>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
        {% for article in articles %}
        <div class="d-flex flex-row justify-content-center align-items-center" style="margin-left: 3vh; margin-right: 3vh;">
            <a class="display-5 align-self-center header" href="{{ article.link }}" target="_blank" style="color: white;">{{ article.article_name }} - Autor: {{ article.author }}</a>
            {% if user.is_superuser or article.article_added_by == user %}
            <span style="visibility: hidden;">..</span>
            <a class="btn btn-danger btn-sm guzik4" href="{% url 'delete-article-movie' movie.id article.id %}">Usuń</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if user.is_staff and movie.movie_accepted_by %}
    <div class="d-flex flex-row justify-content-center flex-wrap">
        <a class="btn btn-success btn-sm guzik4" href="{% url 'add-article-movie' movie.id %}">Dodaj link do artykułu</a>
    </div>
    {% endif %}

    <hr>
    <div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">
        <span>Dodane przez: <a style="color: #dcdcc6;" href="{% url 'user-details' movie.movie_added_by.id %}">{{ movie.movie_added_by }}</a></span>
        {% if movie.movie_accepted_by %}<span>Zaakceptowane przez: <a style="color: #dcdcc6;" href="{% url 'user-details' movie.movie_accepted_by.id %}">{{ movie.movie_accepted_by }}</a></span>{% endif %}
        {% if movie.movie_edited_by %}<span>Ostatnia edycja: <a style="color: #dcdcc6;" href="{% url 'user-details' movie.movie_edited_by.id %}">{{ movie.movie_edited_by }}</a></span>{% endif %}
    </div>

</div>

{% endblock %}