{% extends "base.html" %}

{% block title %} Western Movies {% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h1 class="display-5 align-self-center header">Western Movies</h1>
    </div>
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-secondary btn-lg guzik" href="{% url 'index' %}">Main Page</a>
        <a class="btn btn-success btn-lg guzik" href="/add-movie/"> Add New Western</a>
    </div>
    <ul>
        {% for movie in movies %}
            <li><a class="menu_link" href="/movie-details/{{i.id}}">{{movie.title}} - {{movie.year}} - {{movie.director.first_name}} {{movie.director.last_name}} - {{movie.rating}}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}