{% extends "base.html" %}
{% load static %}

{% block title %}Mój kącik{% endblock %}

{% block content %}

    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-primary btn-lg guzik" href="{% url 'index' %}">STRONA GŁÓWNA</a>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header">Kwatera Kawalerzysty {{ user.username }}</h2>
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header">
            Tutaj będą informacje prywatne użytkownika.
        </h3>
    </div>

    <hr>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <span>powered by:</span>
        <a class="btn btn-link align-self-center" href="https://www.facebook.com/Westerny" target="_blank" style="color: white;">Westerny</a>
    </div>
</div>

{% endblock %}