{% extends "base.html" %}
{% load static %}

{% block title %}Mój kącik{% endblock %}

{% block content %}

    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-primary btn-lg guzik" href="{% url 'index' %}">STRONA GŁÓWNA</a>
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header"><i>Kwatera Kawalerzysty {{ user.username }}</i></h2>
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header">
            Tutaj będą informacje prywatne użytkownika.
        </h3>
    </div>



</div>

{% endblock %}