{% extends "base.html" %}

{% block title %} Ludzie Westernu {% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h1 class="display-5 align-self-center header">Ludzie Westernu</h1>
    </div>
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-secondary btn-lg guzik" href="{% url 'index' %}">STRONA GŁÓWNA</a>
        <a class="btn btn-secondary btn-lg guzik" href="{% url 'movies' %}">WESTERNY</a>
        <a class="btn btn-secondary btn-lg guzik" href="{% url 'genres' %}">GATUNKI</a>
        <a class="btn btn-success btn-lg guzik" href="/add-person"> Dodaj Osobę</a>
    </div>
    <ul>
        {% for person in people %}
            <li><a class="menu_link" href="/person-details/{{person.id}}">{{person}}</a></li>
        {% endfor %}
    </ul>

    <hr>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <span>powered by:</span>
        <a class="btn btn-link align-self-center" href="https://www.facebook.com/Westerny" target="_blank" style="color: white;">Westerny</a>
    </div>
</div>

{% endblock %}