{% extends "base.html" %}
{% load static %}

{% block title %} Szczegóły Osoby {% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-primary btn-lg guzik" href="{% url 'index' %}">STRONA GŁÓWNA</a>
    </div>
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'movies' %}">WESTERNY</a>
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'people' %}">LUDZIE</a>
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'genres' %}">GATUNKI</a>
        {% if person.person_added_by == user or user.is_staff %}
        <a class="btn btn-success btn-lg guzik" href="{% url 'edit-person' person.id %}"> Edytuj Osobę</a>
        {% endif %}
        {% if user.is_superuser %}
        <a class="btn btn-danger btn-lg guzik" href="{% url 'delete-person' person.id %}"> Usuń Osobę</a>
        {% endif %}
        {% if user.is_staff and not person.person_accepted_by %}
        <a class="btn btn-info btn-lg guzik" href="{% url 'accept-person' person.id %}"> Akceptuj</a>
        {% endif %}
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header2" style="margin-left: 3vh; margin-right: 3vh;"><i>{{ person }}</i></h2>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header2" style="margin-left: 3vh; margin-right: 3vh;"><i>Ocena: {{ person }}/10</i></h3>
    </div>
    
    {% if person.person_image %}
    <div class="m-2">
      <img src="{{ person.person_image.url }}" alt="obraz {{ person.name }}"
        width="380" class="img-thumbnail border border-secondary rounded-0">
    </div>
    {% else %}
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h4 class="display-5 align-self-center header">
            Brak zdjęcia.
        </h4>
    </div>
    <hr>
    {% endif %}

    {% if person.person_description %}
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header">
            <i>Opis osoby</i>
        </h3>
    </div>
    <div>
        <h5 style="text-align: justify; margin-left: 3vh; margin-right: 3vh;" class="display-5 align-self-center header">
            {{ person.person_description }}
        </h5>
    </div>
    <hr>
    {% else %}
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h4 class="display-5 align-self-center header">
            Brak opisu.
        </h4>
    </div>
    <hr>
    {% endif %}

    {% if articles_check > 0 %}
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header" style="margin-left: 3vh; margin-right: 3vh;">
            <i>Artykuły o {{ person }}</i>
        </h3>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
        {% for article in articles %}
        <div class="d-flex flex-row justify-content-center align-items-center" style="margin-left: 3vh; margin-right: 3vh;">
            <a class="display-5 align-self-center header" href="{{ article.link }}" target="_blank" style="color: white;">{{ article.article_name }} - Autor: {{ article.author }}</a>
            {% if user.is_superuser or article.article_added_by == user %}
            <span style="visibility: hidden;">..</span>
            <a class="btn btn-danger btn-sm guzik4" href="{% url 'delete-article-person' person.id article.id %}">Usuń</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if user.is_staff and person.person_accepted_by %}
    <div class="d-flex flex-row justify-content-center flex-wrap">
        <a class="btn btn-success btn-sm guzik4" href="{% url 'add-article-person' person.id %}">Dodaj link do artykułu</a>
    </div>
    {% endif %}
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header" style="margin-left: 3vh; margin-right: 3vh;">
            <i>Westerny z {{ person }}</i>
        </h3>
    </div>



    <hr>
    <div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">
        <span>Dodane przez: {{ person.person_added_by }}</span>
        {% if person.person_accepted_by %}<span>Zaakceptowane przez: {{ person.person_accepted_by }}</span>{% endif %}
        {% if person.person_edited_by %}<span>Ostatnia edycja: {{ person.person_edited_by }}</span>{% endif %}
    </div>

</div>

{% endblock %}