{% extends "base.html" %}
{% load static %}

{% block title %}Regulamin{% endblock %}

{% block content %}

    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-primary btn-lg guzik" href="{% url 'index' %}">STRONA GŁÓWNA</a>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header2"><i>Dekrety Regimentu</i></h2>
    </div>

    <div>
        <img src="{% static 'images/regiment_resized.jpg' %}" style="border-color: black; border-style: solid; width: 95%; margin: 2.5%;">
    </div>
    <hr>

    <div class="d-flex flex-column justify-content-center align-items-center">
        <h5 class="display-5 align-self-center header" style="text-align: justify; margin-left: 3vh; margin-right: 3vh;">
            Zakończyła się wielka Wojna Domowa -
            w serca zmęczonych zawieruchą obywateli wstąpiła nowa nadzieja.
            Tysiące pielgrzymów ruszyło ku nieznanym ziemiom na zachodzie, łamiąc odwieczny ład Wielkich Równin.
            Gniew dumnych Indian i napady dzikich band od miesięcy niepokoją terytoria frontieru.
            7 Pułk Kawalerii szuka oficerów po West Point oraz odważnych kawalerzystów by zaprowadzić pokój.
        </h5>
        <h4 class="display-5 align-self-center header" style="text-align: justify; margin-left: 3vh; margin-right: 3vh;">
            "Go West, Young Man"
        </h4>
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h5 class="display-5 align-self-center header" style="text-align: justify; margin-left: 3vh; margin-right: 3vh;">
            1. Jesteś cywilem, który chce schronić się w forcie? - W takim wypadku witaj w naszej kwaterze.
                Korzystaj do woli z udostępnionych przez nas zasobów..</br>
            2. Zaciągasz się do kawalerii? - W takim wypadku wpisz się do księgi werbunkowej, a następnie 
                zamelduj u kwatermistrza, który da ci uprawnienia do składania propozycji westernów 
                i ludzi z nimi związanych.</br>
            3. Skończyłeś West Point lub chcesz zostać oficerem? - Zawodowych oficerów mianują i rozdysponują 
                na odpowiednie posterunki nasi dowódcy. Na oficera może też awansować kawalerzysta, 
                poprzez rzetelną pracę i odwagę w boju. Jako oficer możesz akceptować propozycje
                i edytować wpisy, a także składać propozycje gatunków i dodawać linki do artykułów.</br>
            4. Chcesz zostać dowódcą? - Dowódców osobiście mianuje Gubernator Terytorium. Posiadają oni 
                uprawnienia oficerów, a także możliwość akceptowania i edytowania gatunków. Mogą też kasować 
                wpisy, które uznają za niewłaściwe.</br>
        </h5>
    </div>
    <hr>

    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header2" style="margin-left: 3vh; margin-right: 3vh;">
            <i>Jak dodajemy wpisy?</i>
        </h3>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h5 class="display-5 align-self-center header" style="text-align: justify; margin-left: 3vh; margin-right: 3vh;">
            1. Przed dodaniem westernu sprawdź czy już go niema w zakładce "Westerny" (użyj opcji "Szukaj").</br>
            2. Następnie sprawdź czy osoby, które chcesz przypisać do dodawanego westernu, są w zakładce "Ludzie".
                Jeśli nie ma, to najpierw dodaj osoby i poczekaj na ich akceptację.</br>
            3. Przed dodaniem osoby przygotuj jej imię, nazwisko, zdjęcie i krótki opis;
                przed dodaniem westernu ustal tytuł, rok premiery, gatunek i reżysera, a także przygotuj krótki opis
                i zdjęcie (preferujemy plakat filmowy). Opcjonalnie ustal scenarzystów, muzyków i operatorów.</br>
            4. Jeśli wpis kawalerzysty zostanie zaakceptowany bez uwag, będzie on mógł go potem wyedytować i uzupełnić. 
                 Jeśli jednak wpis kawalerzysty zostanie wyedytowany przez oficera, automatycznie zostanie on 
                 zablokowany do edycji dla kawalerzysty.</br>
            5. Linki do artykułów można dodawać dopiero od stopnia oficerskiego.</br>
            6. Kawalerzystom za dodanie westernu przysługują 2 punkty, za dodanie człowieka 1 punkt. Oficerom 
                za dodanie/akceptację wpisu przysługuje 1 punkt oficerski, a także 1 punkt za propozycję gatunku. 
                Punkty przekładają się na rangę w Forcie.</br>
            7. Wszelkie pytania, wnioski, pomysły póki co należy kierować we wiadomości na westernowym fanpejdżu. 
                Na samym dole strony kliknij w "powered by Westerny".
        </h5>
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header2" style="margin-left: 3vh; margin-right: 3vh;">
            <i>Jak akceptujemy wpisy?</i>
        </h3>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h5 class="display-5 align-self-center header" style="text-align: justify; margin-left: 3vh; margin-right: 3vh;">
            1. Gdy kawalerzysta doda propozycję westernu lub osoby, oficerzy zobaczą w odpowiedniej zakładce 
                button "oczekujące". Po wejściu wyświetli  się lista oczekujących westernów/osób.</br>
            2. Po wejściu w szczegóły oczekującego wpisu wyświetlą się dwie możliwości akceptacji: "akceptuj" i "edytuj". 
                Jeśli oficer nie ma uwag do wpisu kawalerzysty klika w button "akceptuj". Jeśli jednak 
                wpis wymaga edycji, klika w button "edytuj". Druga opcja automatycznie blokuje możliwość edycji dla 
                niższych szczeblem wojaków.</br> 
            7. Wszelkie pytania, wnioski, pomysły póki co należy kierować we wiadomości na westernowym fanpejdżu. 
                Na samym dole strony kliknij w "powered by Westerny".
        </h5>
    </div>
    <hr>

    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header2" style="margin-left: 3vh; margin-right: 3vh;">
            <i>Pozostałe</i>
        </h3>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h5 class="display-5 align-self-center header" style="text-align: justify; margin-left: 3vh; margin-right: 3vh;">
            1. Aplikacja jest darmowa.</br>
            2. Aplikacja wykonana w Django, hasła są haszowane zgodnie ze standardami bezpieczeństwa. 
                Wszystkie dane typu nawza użytkownika, email etc. przechowywane są w bazie danych na serwerach heroku.com.
                Możliwe, że w przypadku rozrostu aplikacji zostaną przeniesione gdzie indziej. </br>
            4. Choć stawiamy na otwartość umysłu, wolność stylów i indywidualizm, to wszelkie rażące 
                naruszenia e-tykiety będą karane degradacjami lub wygnaniem z Fortu na pastwę Indian.</br>
            5. Twórcą Westernowej Bazy Danych jest Andrzej Bakuła. Przy definiowaniu kierunku rozwoju aplikacji brał
                udział zespół ekspertów w składzie: Mariusz Czernic, ...
        </h5>
    </div>
    <hr>

{% endblock %}