{% extends "base.html" %}
{% load static %}

{% block title %}Regulamin{% endblock %}

{% block content %}

    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-primary btn-lg guzik" href="{% url 'index' %}">STRONA GŁÓWNA</a>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header2"><i>Dekrety Regimentu</i></h2>
    </div>

    <div>
        <img src="{% static 'images/regiment_resized.jpg' %}" style="border-color: black; border-style: solid; width: 95%; margin: 2.5%;">
    </div>
    <hr>

    <div class="d-flex flex-column justify-content-center align-items-center">
        <h5 class="display-5 align-self-center header" style="text-align: justify; margin-left: 3vh; margin-right: 3vh;">
            Zakończyła się wielka Wojna Domowa -
            w serca zmęczonych zawieruchą obywateli wstąpiła nowa nadzieja.
            Tysiące pielgrzymów ruszyło ku nieznanym ziemiom na zachodzie, łamiąc odwieczny ład Wielkich Równin.
            Gniew dumnych Indian i napady dzikich band od miesięcy niepokoją terytoria frontieru.
            7 Pułk Kawalerii szuka oficerów po West Point oraz odważnych kawalerzystów by zaprowadzić pokój.
        </h5>
        <h4 class="display-5 align-self-center header" style="text-align: justify; margin-left: 3vh; margin-right: 3vh;">
            "Go West, Young Man"
        </h4>
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h5 class="display-5 align-self-center header" style="text-align: justify; margin-left: 3vh; margin-right: 3vh;">
            1. Jesteś cywilem, który chce schronić się w forcie? - W takim wypadku witaj w naszej kwaterze.
                Korzystaj do woli z udostępnionych przez nas zasobów.</br>
            2. Zaciągasz się do kawalerii? - W takim wypadku wpisz się do księgi werbunkowej, a następnie 
                zamelduj u kwatermistrza, który da ci uprawnienia do składania propozycji westernów 
                i ludzi z nimi związanych, a także dodawnia linków do artykułów.</br>
            3. Skończyłeś West Point lub chcesz zostać oficerem? - Zawodowych oficerów mianują i rozdysponują 
                na odpowiednie posterunki nasi dowódcy. Na oficera może też awansować kawalerzysta, 
                poprzez rzetelną pracę i odwagę w boju. Jako oficer możesz dodatkowo akceptować propozycje kawalerzystów, 
                a także składać propozycje gatunków.</br>
            4. Chcesz zostać dowódcą? - Dowódców osobiście mianuje Gubernator Terytorium. Posiadają oni 
                uprawnienia oficerów, a także możliwość akceptowania gatunków. Mogą też kasować 
                wpisy, które uznają za niewłaściwe.</br>
        </h5>
    </div>
    <hr>

    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header2" style="margin-left: 3vh; margin-right: 3vh;">
            <i>Jak dodajemy wpisy?</i>
        </h3>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h5 class="display-5 align-self-center header" style="text-align: justify; margin-left: 3vh; margin-right: 3vh;">
            1. Przed dodaniem westernu należy sprawdź czy już go niema w zakładce "Westerny" (użyj opcji "Szukaj").</br>
            2. Następnie sprawdzić czy osoby, które mają być przypisane do dodawanego westernu, są w zakładce "Ludzie".
                Jeśli nie ma, to najpierw należy dodać osoby i poczekać na ich akceptację.</br>
            3. Przed dodaniem osoby kawalerzysta powinien przygotować jej imię, nazwisko, zdjęcie i krótki opis;
                przed dodaniem westernu ustalić tytuł, rok premiery, gatunek i reżysera, a także przygotować krótki opis
                i zdjęcie (preferujemy plakat filmowy). Opcjonalnie ustalić scenarzystów, muzyków i operatorów.</br>
            4. Po dodaniu propozycji pojawi się ona w "kwaterze" w oczekujących i tam będzie można ją wyedytować
                jeszcze przed akceptacją.</br>
            5. Jeśli wpis kawalerzysty zostanie zaakceptowany bez uwag, będzie on mógł go potem wyedytować i uzupełnić. 
                 Jeśli jednak wpis kawalerzysty zostanie wyedytowany przez oficera, automatycznie zostanie on 
                 zablokowany do edycji dla kawalerzysty.</br>
            6. Linki do artykułów muszą poczekać na akceptację (do 3 oczekujących linków), od stopnia oficerskiego 
                bez ograniczeń.</br>
            7. Kawalerzystom za dodanie westernu przysługują 2 punkty, za dodanie osoby 1 punkt. Oficerom 
                za dodanie/akceptację wpisu przysługuje 1 punkt oficerski, a także 1 punkt za propozycję gatunku. 
                Punkty przekładają się na rangę w Forcie.</br>
            8. Wszelkie pytania, wnioski, pomysły póki co należy kierować we wiadomościach na westernowym fanpejdżu. 
                Na samym dole strony kliknij w "powered by Westerny" lub na maila westernowabazadanych@gmail.com.
        </h5>
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header2" style="margin-left: 3vh; margin-right: 3vh;">
            <i>Jak akceptujemy wpisy?</i>
        </h3>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h5 class="display-5 align-self-center header" style="text-align: justify; margin-left: 3vh; margin-right: 3vh;">
            1. Gdy kawalerzysta doda propozycję westernu, osoby lub linku, oficerzy zobaczą w odpowiedniej zakładce 
                button "oczekujące". Po wejściu wyświetli się lista oczekujących westernów/osób/linków.</br>
            2. Po wejściu w szczegóły oczekującego wpisu westernu/człowieka wyświetlą się dwie możliwości akceptacji: 
                "akceptuj" i "edytuj". Jeśli oficer nie ma uwag do wpisu kawalerzysty klika w button "akceptuj". 
                Jeśli jednak wpis wymaga edycji, klika w button "edytuj". Jeżeli wpis nie nadaje się do akceptacji ani do 
                edycji, zostawia go do usunięcia dowódcom. Wyedytowany przez oficera wpis automatycznie blokuje możliwość 
                edycji dla niższych szczeblem wojaków.</br>
            3. Linki do akceptacji pojawiają się odpowiednio w szczegółach westernu/człowieka jako buttono do akceptacji przy 
                poszczególnych linkach. Linki nie nadające się do akceptacji (np. spam) należy usunąć.</br>
            7. Wszelkie pytania, wnioski, pomysły póki co należy kierować we wiadomościach na westernowym fanpejdżu. 
                Na samym dole strony kliknij w "powered by Westerny" lub na maila westernowabazadanych@gmail.com.
        </h5>
    </div>
    <hr>

    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header2" style="margin-left: 3vh; margin-right: 3vh;">
            <i>Pozostałe</i>
        </h3>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h5 class="display-5 align-self-center header" style="text-align: justify; margin-left: 3vh; margin-right: 3vh;">
            1. Aplikacja jest darmowa.</br>
            2. Aplikacja wykonana w Django, hasła są haszowane zgodnie ze standardami bezpieczeństwa. 
                Wszystkie dane typu nawza użytkownika, email etc. przechowywane są w bazie danych na serwerach heroku.com.
                Możliwe, że w przypadku rozrostu aplikacji zostaną przeniesione gdzie indziej. </br>
            4. Choć stawiamy na otwartość umysłu, wolność stylów i indywidualizm, to wszelkie rażące 
                naruszenia e-tykiety będą karane degradacjami lub wygnaniem z Fortu na pastwę Indian.</br>
            5. Twórcą Westernowej Bazy Danych jest Andrzej Bakuła. Przy definiowaniu kierunku rozwoju aplikacji brał
                udział zespół ekspertów w składzie: Mariusz Czernic, Jacek Dygoń, Marcin Zembrzuski.
        </h5>
    </div>
    <hr>

{% endblock %}