{% extends "base.html" %}
{% load static %}

{% block title %} Szukaj Osoby {% endblock %}

{% block content %}

    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-primary btn-lg guzik" href="{% url 'index' %}">STRONA GŁÓWNA</a>
    </div>
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'movies' %}">WESTERNY</a>
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'people' %}">LUDZIE</a>
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'genres' %}" class="btn btn-primary">GATUNKI</a>
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header"><i>Szukaj Osoby</i></h2>
    </div>

    <form class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;" action="{% url 'search-person' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" id="submit">Szukaj</button>
    </form>
    <hr>

    {% if persons %}

    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header">
            Lista znalezionych Osób:
        </h2>
    </div>

    <ul>
        {% for person in persons %}
        <div class="d-flex flex-row justify-content-center align-items-center">
            <a  class="btn btn-link align-self-center" href="{% url 'person-details' movie.id %}" style="font-size: x-large; color: white; text-shadow: 1px 1px 2px black">{{ movie.title }}</a>
        </div>
        {% endfor %}
    </ul>
    
    {% endif %}
    {% if not persons and post %}

    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header">
            Brak wyników.
        </h2>
    </div>

    {% endif %}


{% endblock %}