{% extends "base.html" %}
{% load static %}

{% block title %} Szukaj Osoby {% endblock %}

{% block content %}

    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-primary btn-lg guzik" href="{% url 'index' %}">STRONA GŁÓWNA</a>
    </div>
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'movies' %}">WESTERNY</a>
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'people' %}">LUDZIE</a>
        <a class="btn btn-warning btn-lg guzik2" href="{% url 'genres' %}" class="btn btn-primary">GATUNKI</a>
    </div>

    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header2"><i>Szukaj Osoby</i></h2>
    </div>

    <form class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;" action="{% url 'search-person' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" id="submit">Szukaj</button>
    </form>

    {% if people %}

    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header">
            <i>Lista znalezionych Osób:</i>
        </h2>
    </div>

    {% for person in people %}
    <div class="d-flex flex-row justify-content-center align-items-center">
        <a  class="btn btn-link align-self-center" href="{% url 'person-details' person.id %}" style="font-family: Georgia, serif; font-size: x-large; color: white; text-shadow: 2px 2px 1px black">{{ person }}</a>
    </div>
    {% endfor %}
    
    <!-- Pagination: -->
    <hr>
    <nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if people.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">pierwsza</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ people.previous_page_number }}">poprzednia</a></li>
        {% endif %}
        {% for num in people.paginator.page_range %}
        {% if people.number == num %}
            <li class="page-item"><a class="page-link" href="?page={{ people.page_number }}"><strong>{{ num }}/{{ people.paginator.num_pages }}</strong></a></li>
        {% endif %}
        {% endfor %}
        {% if people.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ people.next_page_number }}">następna</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ people.paginator.num_pages }}">ostatnia</a></li>
        {% endif %}
    </ul>
    </nav>

    {% endif %}
    
    {% if not people and post %}

    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header">
            Brak wyników.
        </h2>
    </div>

    {% endif %}


{% endblock %}