{% extends "base.html" %}
{% load static %}

{% block title %}Statystyki{% endblock %}

{% block content %}

    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-primary btn-lg guzik" href="{% url 'index' %}">STRONA GŁÓWNA</a>
    </div>
    {% if user.is_staff %}
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-link btn-sm guzik" href="{% url 'soldiers' %}">Członkowie Regimentu</a>
    </div>
    {% endif %}

    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header2"><i>Statystyki</i></h2>
    </div>

    <div>
        <img src="{% static 'images/FortLaramie_resized.jpg' %}" style="border-color: black; border-style: solid; width: 95%; margin: 2.5%;">
    </div>

    {% if user.is_staff %}
    <h4 class="display-5 align-self-center header">
        Liczba odwiedzin fortu: {{ counter.counter }}
    </h4>
    <hr>
    {% if waiting_movies.count > 0 or waiting_people.count > 0 or waiting_articles.count > 0 %}
    <h4 class="display-5 align-self-center header">
        SĄ OCZEKUJĄCE WPISY!!!
    </h4>
    <hr>
    {% endif %}
    {% endif %}

    <div class="d-flex flex-column justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header">
            {% if not user.is_staff %}<i><u>Liczebność fortu: {{ users.count }}</u></i>{% elif user.is_staff %}<i><u>Liczebność fortu: {{ fort }}</u></i>{% endif %}
        </h3>
        {% if civils.count > 0 and user.is_staff %}
        <h4 class="display-5 align-self-center header">
            Liczba cywilów: {{ civils.count }}
        </h4>
        {% endif %}
        <h4 class="display-5 align-self-center header">
            Liczba kawalerzystów: {{ cavaliers.count }}
        </h4>
        <h4 class="display-5 align-self-center header">
            Liczba oficerów: {{ officers.count }}
        </h4>
        <h4 class="display-5 align-self-center header">
            Liczba dowódców: {{ commanders.count }}
        </h4>
        {% if user.is_staff %}
            <a  class="btn btn-link align-self-center" href="{% url 'user-details' newest_soldier.id %}" style="font-family: Georgia, serif; font-size: large; color: white; text-shadow: 2px 2px 1px black">Najnowszy rekrut: {{ newest_soldier.username }} {% if user.is_superuser %} ({{newest_soldier.email}}) {% endif %}</a>
        {% endif %}
        <hr>
        <h3 class="display-5 align-self-center header">
            <i><u>Wielkość archiwów: {{ notes }}</u></i>
        </h3>
        <h4 class="display-5 align-self-center header">
            Liczba westernów: {{ westerns.count }}
        </h4>
        <h4 class="display-5 align-self-center header">
            Liczba ludzi: {{ people.count }}
        </h4>
        <h4 class="display-5 align-self-center header">
            Liczba gatunków: {{ genres.count }}
        </h4>
        <h4 class="display-5 align-self-center header">
            Liczba linków: {{ links.count }}
        </h4>
        <h4 class="display-5 align-self-center header">
            Liczba ocen: {{ ratings }}
        </h4>

        {% if user.is_superuser %}
        <hr>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <h4 class="display-5 align-self-center header2"><i><u>Najnowsze oceny</u></i></h4>
        </div>
        {% for rating in last_movie_ratings %}
        <div class="d-flex flex-row justify-content-center align-items-center">
            <a  class="btn btn-link align-self-center" href="{% url 'movie-details' rating.movie.id %}" style="font-family: Georgia, serif; font-size: large; color: white; text-shadow: 2px 2px 1px black">{{rating.movie.title}} - {{rating.rating}} {% if user.username == "Westerny" %} ({{rating.user.username}}) {% endif %}</a>
        </div>
        {% endfor %}
        {% for rating in last_person_ratings %}
        <div class="d-flex flex-row justify-content-center align-items-center">
            <a  class="btn btn-link align-self-center" href="{% url 'person-details' rating.person.id %}" style="font-family: Georgia, serif; font-size: large; color: white; text-shadow: 2px 2px 1px black">{{rating.person}} - {{rating.rating}} {% if user.username == "Westerny" %} ({{rating.user.username}}) {% endif %}</a>
        </div>
        {% endfor %}
        {% endif %}

    </div>


{% endblock %}