{% extends "base.html" %}
{% load static %}

{% block title %}Statystyki{% endblock %}

{% block content %}

    <div class="d-flex flex-row justify-content-around flex-wrap">
        <a class="btn btn-primary btn-lg guzik" href="{% url 'index' %}">STRONA GŁÓWNA</a>
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header2"><i>Statystyki</i></h2>
    </div>
    <hr>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header">
            <i>Liczebność fortu: {{ users }}</i>
        </h3>
        {% if civils > 0 %}
        <h4 class="display-5 align-self-center header">
            Liczba cywilów: {{ civils }}
        </h4>
        {% endif %}
        <h4 class="display-5 align-self-center header">
            Liczba kawalerzystów: {{ cavaliers }}
        </h4>
        <h4 class="display-5 align-self-center header">
            Liczba oficerów: {{ officers }}
        </h4>
        <h4 class="display-5 align-self-center header">
            Liczba dowódców: {{ commanders }}
        </h4>
        <hr>
        <h3 class="display-5 align-self-center header">
            <i>Wielkość archiwów: {{ notes }}</i>
        </h3>
        <h4 class="display-5 align-self-center header">
            Ilość westernów: {{ westerns }}
        </h4>
        <h4 class="display-5 align-self-center header">
            Ilość ludzi: {{ people }}
        </h4>
        <h4 class="display-5 align-self-center header">
            Ilość gatunków: {{ genres }}
        </h4>
    </div>


{% endblock %}